{{#each response}};

<div class="container">
<div class="card-group" style="width: 200px;">
    <div class="card">
        <img src="{{image}}" class="card-img-top" style="width: 200px" alt="{{title}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <a href="/details/{{id}}">See More</a>
            </div>
    </div>
</div>
</div>
{{/each}}